<div class="wrapper">

 <div class="timer">
    <app-timer></app-timer>
 </div>

  <div class="box">
    <div>
       <app-navigation>
      </app-navigation>
    </div>

    <div class="cart-grid">
      <i class="material-icons category-icon">{{icon}}</i>
      <h1>Products are basic of fit body</h1>
      <router-outlet>
      </router-outlet>
    </div>

    <svg class="svg"
    viewBox="0 0 1016.714 223.248"><path class="cloud" d="M891.751,771.521h676.164V548.282s-82.869-1.6-121.3,38.5-46.691,99.765-120.1,119.521-101.965-134-278.632-36.9S705.6,621.926,598.707,650.156s0,121.365,0,121.365Z"
    transform="translate(-551.2 -548.274)"/>
    </svg>

  <div>

</div>
