@import '../../../colors.scss';

.wrapper, .box{
    display: grid;
}
.wrapper{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    background: $main;
    .timer{
        grid-area: 3/1;
        align-self: flex-end;
    }
    .svg{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 85%;
      .cloud{
          fill: $main;
      }
    }

    .box{
        box-shadow: $shadow;
        background: $font-white;
        grid-area: 2/2;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 1fr;
        position: relative;
        & > div{
            z-index: 1;
        }
        .cart-grid{
          display: grid;
          position: relative;
          grid-template-rows: 79px 1fr;
          .category-icon{
              position: absolute;
              top: 0;
              right: 0;
              font-size: 32px;
          }
        }
        h1{
          font-size: 1.2em;
          margin: 0;
          font-weight: 400;
          letter-spacing: 1.05px;
          padding-bottom: 1em;
          color: $main;
        }
    }
}

