@import '../../../../../colors.scss';
p{
  padding: 1em 0;
  grid-column: 1/3;
  color: $black;
}
.flex-col-center{
  color: $content-grey;
  & > i{
      font-size: 48px;
      margin-bottom: 1em;
  }
}
article{
  color: $content-grey;
  line-height: 40px;
}
.description{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 80px 1fr;
  grid-gap: 1em;
}
