@import '../../../colors.scss';
.start-page{
    display: grid;
    min-height: 200vh;
    grid-template-rows: 80px 1fr 100vh;
    grid-template-columns: 1fr;
    nav{
        background: $side;
        height: 80px;
        padding: 0 40px;
        justify-content: center;
        .container-fluid{
            height: 60px;
            justify-content: space-between;
            div:first-of-type button{
                margin-right: 40px;
            }
            div:last-of-type button{
                margin-left: 80px;
            }
        }
    }
    .start-page-content{
        height: 100%;
        padding: 1em;
        box-sizing: border-box;
    }
    .paralax-bg{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}
