<div class="start-page">
 <nav class="flex-center">
    <i class="material-icons logo">trending_up</i>
    <div class="container-fluid flex-center">
        <div>
            <button class="label-btn">About</button>
            <button class="label-btn">Contact</button>
        </div>
        <div>
            <button class="label-btn main-btn">Login</button>
            <button class="label-btn">Register</button>
        </div>
    </div>
 </nav>

 <div class="start-page-content container-fluid">
    <router-outlet>
                
    </router-outlet>
 </div>
 
 <div class="paralax-bg" [ngStyle]="{'background-image':'url(assets/bg1.jpg)'}">

 </div>

</div>