@import '../../../../colors.scss';
.empty-list {
  display: grid;
  grid-template-rows: auto auto auto;
  max-width: 350px;
  color: $font;
  text-align: center;
  grid-template-areas:
    "header"
    "content"
    "btn";
  h2 {
    margin: 0;
    padding: 0;
  }
  h2{
    font-size: 24px;
    grid-area: header;
  }
  p {
    grid-area: content;
  }
  .circle-btn{
    margin: auto;
    grid-area: btn;
    height: 40px;
    width: 40px;
  }
}
