<div *ngIf="containsOperations" class="progress-bars" [ngClass]="{'progress-open': previewOpened, 'progress-closed': !previewOpened}">
  <h4 class="flex-center">
    <span>Currently processed objects</span>
    <i (click)="togle('previewOpened')" class="material-icons">fullscreen_exit</i>
  </h4>
  <ul>
    <li *ngFor="let key of extractionsKeys">
      <p class="flex-center progress-description">
        <span [class]="'flex-center ' + currentExtractions[key].finishStatus">
          <i class="material-icons">{{statusIcons[currentExtractions[key].finishStatus] ? statusIcons[currentExtractions[key].finishStatus] : 'file_upload'}}</i>
          {{key | shorten}}
        </span>
        <span *ngIf="currentExtractions[key].isProcessing">in progress...</span>
        <i *ngIf="!currentExtractions[key].isProcessing && currentExtractions[key].extractionOnErrorOverview"
        class="material-icons clickable" (click)="togleOverview(key)">build</i>
      </p>
      <div class="flex-center progress-ratio">
        <span class="percentage" *ngIf="currentExtractions[key].isProcessing">{{currentExtractions[key].value}} %</span>

        <span class="description">{{currentExtractions[key].description}}...</span>

        <div class="buttons">
          <button (click)="handleClose(key)" *ngIf="currentExtractions[key].finishStatus !== ''" class="label-btn deny-btn">
            {{currentExtractions[key].finishStatus === 'ok' ? 'DENY' : 'CLOSE'}}
          </button>
          <button *ngIf="currentExtractions[key].finishStatus === 'ok'" class="label-btn main-colored">
            USE IN FORM
          </button>
        </div>

      </div>
    </li>
  </ul>
  <div class="progress-footer"></div>
</div>
<button *ngIf="containsOperations" (click)="togle('previewOpened')" class="circle-btn" [ngClass]="{'btn-closed': previewOpened, 'btn-open': !previewOpened}">
  <i class="material-icons">
    fullscreen
  </i>
</button>

<app-modal *ngIf="currentOpenedOverview" [classes]="'m-w-center overview-modal'" (closing)="togleOverview('')">
  <header class="modal-header flex-center">
    <i class="material-icons">visibility</i>
    <span>Extracted text from image</span>
  </header>
  <div class="overview-content">
    <p *ngFor="let overview of currentExtractions[currentOpenedOverview].extractionOnErrorOverview">
      {{overview}}
    </p>

  </div>
</app-modal>
