<div *ngIf="containsOperations" class="progress-bars" [ngClass]="{'progress-open': previewOpened, 'progress-closed': !previewOpened}">
  <h4 class="flex-center">
    <span>Currently processed objects</span>
    <i (click)="togle('previewOpened')" class="material-icons">fullscreen_exit</i>
  </h4>
  <ul>
    <li *ngFor="let key of extractionsKeys">
      <p class="flex-center progress-description">
        <span [class]="'flex-center ' + currentExtractions[key].finishStatus">
          <i class="material-icons">{{statusIcons[currentExtractions[key].finishStatus] ? statusIcons[currentExtractions[key].finishStatus] : 'file_upload'}}</i>
          {{key}}
        </span>
        <span *ngIf="currentExtractions[key].isProcessing">operation</span>
      </p>
      <p class="flex-center progress-ratio">
        <span>{{currentExtractions[key].value}} %</span>
        <span class="description">{{currentExtractions[key].description}}...</span>

        <button *ngIf="currentExtractions[key].finishStatus === 'ok'" class="label-btn main-colored">
          CHECK
        </button>

        <button (click)="handleCloseAndDeny(key)" *ngIf="currentExtractions[key].finishStatus === 'error'" class="label-btn">
          CLOSE
        </button>

        <button (click)="handleCloseAndDeny(key)" *ngIf="currentExtractions[key].isProcessing" class="label-btn danger-color">
          DENY
        </button>

      </p>
    </li>
  </ul>
  <div class="progress-footer"></div>
</div>
<button *ngIf="containsOperations" (click)="togle('previewOpened')" class="circle-btn" [ngClass]="{'btn-closed': previewOpened, 'btn-open': !previewOpened}">
  <i class="material-icons">
    fullscreen
  </i>
</button>
