<div class="meals cart-grid">
  <i class="material-icons category-icon">local_dining</i>
  <h1>Manage your meals</h1>
  
  <p>Follow these simple steps and create your meal</p>

  <div class="boxes">
    <div class="products-desc cart">
      <p>Select products from your list</p>
      <i class="material-icons">view_list</i>
      <p>When selecting products<br> watch calories count</p>
    </div>

    <div class="pictures cart">
      <i class="material-icons">photo_library</i>
    </div>

    <div class="cooking-adnotations cart">
      <p>Write cooking adnotations<br> with plain text</p>
      <i class="material-icons">comment</i>
    </div>

    <div class="tip-list cart">
      <p class="flex-center"><i class="material-icons">assignment</i><span>Select cooking stuff for this meal</span></p>
      <p class="flex-center"><i class="material-icons">restore</i><span>Choose parameters like temperature and cooking
          duration </span></p>
      <p class="flex-center"><i class="material-icons">screen_share</i><span>Share meal for other users</span></p>
    </div>

    <div class="callendar cart">
      <p>Make changes in a callendar</p>
      <i class="material-icons">date_range</i>
    </div>
  </div>
</div>