@import '../../../../colors.scss';
.marginated-cart{
  margin-right: 20px;
  width: 500px;
}
.small-cart-products{
  max-width: 320px;
  min-width: 300px;
  margin: 0 15px 15px 0;
}
.small-cart-products, .marginated-cart {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 60% 1fr;
  grid-gap: 10px;
  grid-template-areas:
      "title title"
      "content image"
      "footer footer";
}
.cart-products{
  span {
    word-break: break-all;
  }
  display: grid;
  p{
      padding: 0;
      grid-area: title;
      span{
          font-size: 20px;
          font-weight: bold;
          max-width: 80%;
      }
      span:last-of-type i {
        margin-left: 7.5px;
      }
      i{
          font-size: 20px;
          cursor: pointer;
      }
  }
  .product-details{
      grid-area: content;
      .label{
        margin: 0 1em 1em 0;
        float: left;
      }
  }
  .cart-image{
      grid-area: image;
  }
  .operations{
      grid-area: footer;
  }
}
