<div [class]="'cart cart-products flex-column ' + classes">
  <p class="flex-between">
    <span class="cart-name">{{product.name}}</span>

    <span>
      <i (click)="editing.emit()" class="material-icons main-colored animated-icon">edit</i>
      <i (click)="deleting.emit()" class="material-icons main-colored animated-icon danger-color">delete</i>
    </span>
  </p>

  <div class="product-details">
    <div class="label">
      <span>company</span>
      <span>{{product.company}}</span>
    </div>

    <div class="label">
      <span>type</span>
      <span>{{product.type}}</span>
    </div>

    <div *ngIf="product.rate" class="label">
      <span>users rate</span>
      <span>{{product.rate}}</span>
      <app-rates [rate]="product.rate">
      </app-rates>
    </div>

    <div *ngIf="product.rate" class="label">
      <span>number of votes</span>
      <span>{{product.numberOfVotes}}</span>
    </div>

    <div class="label">
      <span>calories</span>
      <span>{{product.calories}}</span>
    </div>
  </div>

  <div class="cart-image">
    <img src="assets/download.jpeg" />
  </div>

  <p class="operations flex-between">
    <button class="label-btn-thin">CHECK DETAILS</button>
    <span>3</span>
    <i class="material-icons">comment</i>
  </p>
</div>
