<div [class]="'cart cart-products flex-column ' + classes">
  <p class="flex-between">
    <span class="cart-name">{{product.name}}</span>
    <span *ngIf="allowOperations">
      <i (click)="editing.emit()" class="material-icons main-colored animated-icon">edit</i>
      <i (click)="deleting.emit()" class="material-icons main-colored animated-icon danger-color">delete</i>
    </span>
  </p>

  <div class="product-details">
    <div class="label">
      <span>company</span>
      <span>{{product.company}}</span>
    </div>

    <div class="label">
      <span>type</span>
      <span>{{product.type}}</span>
    </div>

    <div *ngIf="product.rate" class="label">
      <span>rate</span>
      <span>{{product.rate}}</span>
    </div>

    <div *ngIf="product.calories" class="label">
      <span>calories</span>
      <span>{{product.calories}}</span>
    </div>

    <div *ngIf="product.price" class="label">
      <span>price</span>
      <span>{{product.price}} zł</span>
    </div>
  </div>

  <div class="cart-image">
    <app-file-picker [path]="product.picturePath" (changing)="changePicture($event)">
    </app-file-picker>
    <app-rates [rate]="product.rate" (voting)="vote($event)">
    </app-rates>
  </div>

  <p class="operations flex-between">
    <button class="label-btn-thin">CHECK DETAILS</button>
  </p>
</div>
