@import '../../../../colors.scss';
.rates{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  i{
      font-size: 18px;
      margin-right: 5px;
  }
  i:last-of-type{
    margin: 0;
  }
  i:not(.main-colored) {
    cursor: pointer;
    color: $content-grey;
    &:hover{
      color: $main;
    }
  }
}
