@import '../../../../colors.scss';
.backdrop {
  background: rgba(0,0,0,.48);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.modal {
  position: fixed;
  z-index: 2;
  padding: 20px;
  background: $font-white;
}
.m-w-center {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.m-w-h-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register-modal{
  max-width: 600px;
  padding: 25px;
}
.product-modal{
  width: 600px;
  padding: 0 0 25px 0;
}
.confirm-modal{
  border-radius: 10px;
  padding: 25px;
  display: grid;
}
