@import '../../../../colors.scss';
.shopping {
  height: 100%;
  grid-gap: 10px 30px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "products selected";
  .cart-header {
    grid-area: header;
    h2 {
      margin: 0;
    }
  }
  .products-to-add {
    grid-area: products;
  }
  .selected-products {
    grid-area: selected;
    .whole-cost {
      font-size: 22px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

