@import '../../../../colors.scss';
.shopping {
  height: 100%;
  grid-gap: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "products added";
  .cart-header {
    grid-area: header;
    h2 {
      margin: 0;
    }
  }
  .products-to-add {
    grid-area: products;
  }
}

