$main: #5C55B9;
$font-white: #fff;
$side: #F8F8F8;
//$side: #EBEBEB;
$border: #CCCCCC;
$font: #707070;
$shadow: 0 6px 24px rgba(0,0,0, .24);
$black: rga(0,0,0);
$content-grey: #A1A1A1;
$error: #EC3B3B;
$ok: #8EDE8E;
$warning: #FFDC68;
