@import './colors.scss';
body, html{
   margin: 0;
   padding: 0;
   min-height: 100vh;
   font-family: 'Roboto', sans-serif;
   background: $main;
   color: $black;
}
#container, .wrapper{
   min-height: 100vh;
}
p{
    padding: 1em;
    margin: 0;
    color: $black;
}
.flex-center{
    display: flex;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-flow: column;
}
.flex-col-center{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.content{
    padding: 1.5em;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.clickable{
    cursor: pointer;
}

h1{
  font-size: 1.2em;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1.05px;
  padding-bottom: 1em;
  color: $main;
}