@import './colors.scss';
body, html{
   margin: 0;
   padding: 0;
   min-height: 100vh;
   font-family: 'Roboto', sans-serif;
   color: $black;
   scroll-behavior: smooth;
}
.thin-link{
  font-weight: lighter;
}
.modal-header-blank{
  h2{
    margin: 0;
  }
  p{
    padding: 1em 0;
    font-size: 16px;
    font-weight: lighter;
  }
  .thin-link{
    font-size: 14px;
  }
}
h1, h2, h3, h4, h5, p{
  color: $font;
}
#container, .wrapper{
   min-height: 100vh;
}
p{
    padding: 1em;
    margin: 0;
    color: $black;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-flow: column;
}
.flex-col-center{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.perf-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col-h-center{
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.content{
    padding: 1.5em;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.clickable{
    cursor: pointer;
}
.cart{
    box-shadow: $shadow;
    padding: 1em;
}
.container-fluid{
    width: 1080px;
    margin: 0 auto;
}
button{
    font-family: inherit;
    cursor: pointer;
    border: none;
    &:focus{
        outline: none;
    }
}
.logo{
    font-size: 36px;
    color: $main;
}
.main-btn{
    color: $main;
}
.dots{
    .active-dot{
        background: $content-grey;
    }
    div{
        cursor: pointer;
        height: 17.5px;
        width: 17.5px;
        border-radius: 50%;
        background: $main;
        margin-right: 1em;
    }
}
.label-btn{
    background: transparent;
    font-weight: bold;
    font-size: 1em;
}
.label-btn-thin{
    font-size: 1em;
    background: transparent;
}
.main-btn-bg{
    background: $main;
    border-radius: 40px;
    font-size: 1em;
    color: $font-white;
    padding: 20px;
    min-width: 200px;
    max-width: 300px;
}
.label{
    display: flex;
    flex-flow: column;
    span:first-of-type{
        font-size: 14px;
        color: $content-grey;
        margin-bottom: 5px;
    }
    span:last-of-type{
        color: $font;
    }
}
.main-colored{
  color: $main;
}
.scale-base{
  transform: scale(1);
  transition: .4s;
  position: relative;
}
.scaled-content{
  transform: scale(.95);
}
.grid-wrap{
  display: grid;
  height: 100%;
  grid-template-rows: 115px 1fr;
}
.animated-icon{
  transform: rotate(0);
  transition: .4s;
  &:hover{
    transform: rotate(30deg);
  }
}
.danger-color{
  color: $error;
}
.danger-bg{
  background: $error;
}
.main-bg{
  background: $main;
}
.modal-header{
  background: $side;
  color: $font;
  i {
    margin-right: .5em;
    font-size: 32px;
  }
  span{
    font-size: 20px;
  }
  height: 80px;
  padding: 0 25px;
}
