<div class="login-form scale-base" [ngClass]="{'scaled-content': isLoging}">
  <header class="modal-header">
    <h2>Populate <span class="main-colored">Sign In</span> form</h2>
    <p>
      If you visiting us first time you can check our tutorial.
      We explaining there basic stuff and content you can find
      on our website.
    </p>
    <span class="main-colored thin-link">Click here to check tutorial</span>
  </header>

  <app-form [isSubmiting]="isLoging" [formSettings]="loginFormSettings" (submiting)="logIn($event)"></app-form>
</div>

<app-spinner *ngIf="isLoging" [backdrop]="true" [classes]="'spinner-big'" [containerClasses]="'spinner-centered'"></app-spinner>
