@import '../../../colors.scss';
.abs-validation-message{
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  background: $error;
  color: $font-white;
  span{
    font-size: 14px;
  }
  button{
    color: $font-white;
  }
}
