<div class="products cart-grid">
  <i class="material-icons category-icon">store</i>
  <h1>Customize your products</h1>
  
  <div class="description">

    <p>Manage your calories level in easy way</p>

    <div class="flex-col-center">
      <i class="material-icons">image</i>
      <i class="material-icons">view_carousel</i>
      <i class="material-icons">attach_money</i>
    </div>
  
    <article>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. 
        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej 
        książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie 
        niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, 
        zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum 
        oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus 
        PageMaker
    </article>

  </div>
  
</div>