<form [class]="'form ' + classes" #form (submit)="submit($event)">

  <section [ngClass]="{'section-error': formErrors[key] !== ''}" class="input-wrapper" *ngFor="let key of formStateKeys">
    <input
    required="" (input)="input($event, key)" (focus)="focus(key)" (blur)="blur()" [value]="formState[key]"
    [type]="formSettings[key].type" />
    <label required="" *ngIf="formSettings[key].label">{{formSettings[key].label}}</label>
    <p class="validation-message">
      <span *ngIf="formErrors[key]">{{formErrors[key]}}</span>
    </p>
  </section>

  <div class="form-footer">
    <button [disabled]="isErrorsInForm || isSubmiting" class="label-btn main-colored" type="submit">SIGN IN</button>
  </div>

</form>
