@import '../../../../colors.scss';
.form{
  margin-top: 50px;
  padding: 0 25px;
  display: grid;
  grid-gap: 15px 30px;
  .input-wrapper{
    position: relative;
    padding: 10px 0;
    label{
      position: absolute;
      font-size: 14px;
      left: 0;
      top: 16px;
      transition: .4s;
      pointer-events: none;
    }
    .label-up{
      top: 0;
      font-size: 12px;
    }
    .normal-input, textarea{
      background: $font-white;
      border: none;
      font-family: inherit;
      transition: .4s;
      border-bottom: 1px solid $main;
      width: 100%;
      padding: 10px 0;
      &:focus{
        outline: none;
      }
    }
    .validation-message{
      color: $error;
      padding: 5px 0 0 0;
      height: 40px;
      word-break: break-word;
      span{
        font-size: 12px;
      }
    }
    .file-picker{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: auto;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      i {
        color: $font-white;
        font-size: 32px;
      }
    }
    .image-preview{
      cursor: pointer;
      img {
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 100%;
        height: auto;
      }
    }
    .transparent-bg{
      position: absolute;
      bottom: 5px;
      color: $font-white;
      border-radius: 50%;
      z-index: 3;
      padding: 10px;
      background: rgba(0,0,0,.6);
      right: 5px;
      i{
        font-size: 16px;
      }
    }
  }
  .section-error{
    label{
      color: $error;
    }
    .normal-input{
      border-bottom-color: $error;
    }
  }
  .input-wrapper:not(.section-error){
    label{
      color: $main;
    }
    .normal-input,textarea{
      border-color: $main;
    }
  }

  .form-footer{
    margin-top: 50px;
    text-align: center;
    grid-area: button;
    align-self: flex-end;
    button:disabled{
      color: $content-grey;
    }
  }
}



.register-form{
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "username email"
  "pass rpass"
  "button button";
  .input-wrapper:nth-of-type(1){
    grid-area: username;
  }
  .input-wrapper:nth-of-type(2){
    grid-area: email;
  }
  .input-wrapper:nth-of-type(3){
    grid-area: pass;
  }
  .input-wrapper:nth-of-type(4){
    grid-area: rpass;
  }
}

.login-form{
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "username"
  "password"
  "button";
  .input-wrapper:nth-of-type(1){
    grid-area: username;
  }
  .input-wrapper:nth-of-type(2){
    grid-area: password;
  }
  .input-wrapper:nth-of-type(3){
    grid-area: button;
  }
}

.product-form {
  grid-template-rows: 1fr 125px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 35px;
  grid-template-areas:
    "name company"
    "type picture"
    "calories other"
    "button button";
  .name {
    grid-area: name;
  }
  .company {
    grid-area: company;
  }
  .type {
    grid-area: type;
  }
  .calories {
    grid-area: calories;
  }
  .file-picker{
    width: 125px;
  }
  .productPicture {
    grid-area: picture;
  }
}
