@import '../../../../colors.scss';
.form{
  margin-top: 50px;
  padding: 0 25px;
  display: grid;
  grid-gap: 15px 30px;
  .input-whole-wrapper{
    .input-wrapper{
      position: relative;
      padding: 10px 0 5px 0;
      label{
        position: absolute;
        font-size: 14px;
        left: 0;
        top: 16px;
        transition: .4s;
        pointer-events: none;
      }
      .label-up{
        top: 0;
        font-size: 12px;
      }
      .normal-input, textarea{
        background: $font-white;
        border: none;
        font-family: inherit;
        transition: .4s;
        border-bottom: 1px solid $main;
        width: 100%;
        padding: 10px 0;
        &:focus{
          outline: none;
        }
      }
    }
    .section-error{
      label{
        color: $error;
      }
      .normal-input{
        border-bottom-color: $error;
      }
    }
    .input-wrapper:not(.section-error){
      label{
        color: $main;
      }
      .normal-input,textarea{
        border-color: $main;
      }
    }
    .validation-message{
      color: $error;
      padding: 0;
      height: 40px;
      word-break: break-word;
      span{
        font-size: 12px;
      }
    }
  }
  .circle-btn{
    &:disabled{
      background: $content-grey;
    }
    i {
      font-size: 16px;
    }
  }

  .form-footer{
    margin-top: 50px;
    text-align: center;
    grid-area: button;
    align-self: flex-end;
    button:disabled{
      color: $content-grey;
    }
  }
}
.register-form{
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "username email"
  "pass rpass"
  "button button";
  .input-wrapper:nth-of-type(1){
    grid-area: username;
  }
  .input-wrapper:nth-of-type(2){
    grid-area: email;
  }
  .input-wrapper:nth-of-type(3){
    grid-area: pass;
  }
  .input-wrapper:nth-of-type(4){
    grid-area: rpass;
  }
}

.login-form{
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "username"
  "password"
  "button";
  .input-wrapper:nth-of-type(1){
    grid-area: username;
  }
  .input-wrapper:nth-of-type(2){
    grid-area: password;
  }
  .input-wrapper:nth-of-type(3){
    grid-area: button;
  }
}

.product-form {
  grid-template-rows: 1fr 1fr 125px 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 35px;
  grid-template-areas:
    "name dname"
    "category picture"
    "calories cunit"
    "button button";
  .name {
    grid-area: name;
  }
  .detailedName {
    grid-area: dname;
  }
  .category {
    grid-area: category;
  }
  .calories {
    grid-area: calories;
  }
  .caloriesUnit {
    grid-area: cunit;
  }
  .productPicture {
    grid-area: picture;
  }
}
.filter-form {
  grid-template-columns: 30% 30% 50px;
  padding: 0;
  grid-gap: 0 10px;
  margin: 0;

  .circle-btn {
    margin: auto 0 auto 1em;
    height: 30px;
    width: 30px;
  }
}
.category-form {
  grid-template-rows: 1fr 1fr;
  padding: 0 35px;
  grid-template-areas:
    "name"
    "button";
  .name {
    grid-area: name;
  }
}
