<app-dropzone (dropped)="handleDropReceipt($event)" [config]="receiptConfig" *ngIf="!isLoadingSettings" [disabled]="selectPricesOpen">
  <div class="shopping">

    <div class="cart-header">
      <h2 class="main-colored">
        <span>Add new shopping</span>
      </h2>
      <div class="informations">
        <button class="label-btn-thin" *ngIf="selectPricesOpen" (click)="togleSelectPrices()">BACK</button>
        <button class="main-btn-md" (click)="handleContinueClick()" [disabled]="!allItemsCountWithQuantity">
          {{selectPricesOpen ? 'ADD SHOPPING' : 'CONTINUE'}}
        </button>
      </div>
    </div>

    <div *ngIf="!salarySchema" class="empty-salary">
      <app-empty-list [header]="'Salary schema'" (clicking)="openSalarySchema()">
        Your salary schema is not set. <br>Click button bellow to set salary schema
      </app-empty-list>
    </div>

    <ng-container *ngIf="salarySchema && !selectPricesOpen">
      <div class="products-to-add">
        <app-table
        [isLoading]="isLoadingProducts"
        (settingChanges)="fetchProducts($event)"
        [keysTitle]="'productsToSelectKeys'"
        (rowClick)="addProductToSelected($event)"
        [items]="productsToSelect">
        </app-table>
      </div>

      <div class="selected-products">
        <app-table
        [tableClass]="'table-remove'" [emptyTitle]="'This table is already empty. Start selecting products'"
        [keysTitle]="'selectedProducts'" (rowClick)="removeProductFromSelected($event)"
        [enableChangingPageSize]="false" [enableFilters]="false" [enablePagination]="false"
        [title]="'Selected products'" [subTitle]="'click at row for remove product'"
        [items]="selectedProducts">

          <div *ngIf="allItemsCountWithQuantity" class="s-footer flex-center">
            <span class="main-colored">{{allItemsCountWithQuantity}} items</span>

            <div class="s-footer-operations">
              <button (click)="clearSelectedProducts()" class="label-btn-thin danger-color">
                CLEAR ALL
              </button>
            </div>

          </div>
        </app-table>
        <div class="drag-drop-bg perf-flex">
          <div>
            <i class="material-icons">file_upload</i>
            <span>drag and drop receipts on screen for load them into selected products</span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectPricesOpen">
      <div class="products-to-add">
        <app-table
        [tableClass]="''"
        [crud]="true"
        [keysTitle]="'selectedProductsWithPrices'" (rowClick)="chooseOperation($event)"
        [enableChangingPageSize]="false" [enableFilters]="false" [enablePagination]="false"
        [title]="'Selected products settings'" [subTitle]="'click at row to attach prices, change quantity or set discount'"
        [items]="selectedProducts">

          <div *ngIf="allItemsCountWithQuantity" class="s-footer flex-center">
            <span class="main-colored">{{allItemsCountWithQuantity}} items</span>

            <div class="s-footer-operations">
              <button (click)="clearSelectedProducts()" class="label-btn-thin danger-color">
                CLEAR ALL
              </button>
            </div>

          </div>

        </app-table>
      </div>
    </ng-container>
  </div>

</app-dropzone>



<app-spinner *ngIf="isLoadingSettings" [classes]="'spinner-big'" [containerClasses]="'spinner-centered'"></app-spinner>
<!-- selectedProductsWithPrices -->
