<div class="grid-wrap">
  <div class="cart-header">
    <h2 class="main-colored">Products dashboard</h2>

    <div class="toolbox">

      <button (click)="togleCategoryModal()" class="label-btn">
        <i class="material-icons">storage</i> CATEGORIES
      </button>

    </div>

  </div>

  <div *ngIf="isCategoriesAdded" class="categories">
    <div class="category" *ngFor="let category of productCategories">
      <span>{{category.name}}</span>

      <div class="icons flex-center">
        <i (click)="setCategoryToRemove(category._id)" class="material-icons danger-color animated-icon">delete</i>
        <i class="material-icons main-colored animated-icon">edit</i>
      </div>

    </div>
  </div>

  <div class="products-list">

    <div *ngIf="!isCategoriesAdded" >
      <app-empty-list (clicking)="togleModals()" [header]="'Categories'">
        You must add category of product firstly. <br> If you want add new one
        and unlock adding products click button bellow
      </app-empty-list>
    </div>
    <div *ngIf="isCategoriesAdded && products.length === 0">
      <app-empty-list (clicking)="togleModals()" [header]="'Products'">
        Products list is actualy empty. <br> If you want add new one
        click button bellow
      </app-empty-list>
    </div>

    <ng-container *ngIf="isCategoriesAdded && products.length > 0">
      <app-products-cart
      (deleting)="togleDeleteModal(product)"
      (editing)="togleEditModal(product)"
      *ngFor="let product of products" [classes]="'small-cart-products'"
      [product]="product">

      </app-products-cart>
    </ng-container>

  </div>
</div>

<app-modal *ngIf="productToEdit || addProductModal" [classes]="'m-w-center product-modal'"
(closing)="togleEditModal(null)">
  <header class="modal-header flex-center">
    <i class="material-icons">store</i>
    <span>{{productToEdit ? 'Edit selected product' : 'Add new product'}}</span>
  </header>

  <app-product-form *ngIf="productToEdit" [elementToEdit]="productToEdit"></app-product-form>
  <app-product-form *ngIf="addProductModal"></app-product-form>
</app-modal>

<app-confirm *ngIf="productToDelete" [header]="'Are you sure you want delete selected product ?'" [subHeader]="'This procedure is permanent and cannot be denied after confirm'"
 (closing)="togleDeleteModal(null)" (confirming)="deleteProduct()">
 <app-spinner *ngIf="isDeletingProduct" [backdrop]="true" [classes]="'spinner-big'" [containerClasses]="'spinner-centered'"></app-spinner>
</app-confirm>


<app-modal *ngIf="addCategoryModal" [classes]="'m-w-center product-modal'" (closing)="togleCategoryModal()">
  <header class="modal-header flex-center">
    <i class="material-icons">store</i>
    <span>Create new product category</span>
  </header>
  <app-product-category-form>

  </app-product-category-form>
</app-modal>



<app-confirm *ngIf="categoryToRemove_ID" [header]="'Are you sure you want delete selected category ?'"
[subHeader]="'This procedure is permanent and cannot be denied after confirm'"
(closing)="setCategoryToRemove('')" (confirming)="removeCategory()">
  <app-spinner *ngIf="isRemovingCategory" [classes]="'spinner-small'" [backdrop]="true" [containerClasses]="'spinner-form'"></app-spinner>
</app-confirm>
