<nav [ngClass]="{'nav-closed': !navOpen, 'nav-open': navOpen}">
  <div *ngIf="navOpen" class="avatar-description flex-col-center">
    <img class="avatar" src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
    <p>
      Joseph Domuro
    </p>
  </div>

  <ul *ngIf="!navOpen">
    <li *ngFor="let link of navigationLinks; let i = index"
    (click)="changeOpenedNavigationBar(i)"
    [ngClass]="{'focused-icon': currentOpenedNavigationBar === i}">
      <i class="material-icons">{{link.icon}}</i>
    </li>

  </ul>

  <ul *ngIf="navOpen">
    <li *ngFor="let link of navigationLinks; let i = index"
    [ngClass]="{'focused-link': currentOpenedNavigationBar === i}">
        <div (click)="changeOpenedNavigationBar(i)" class="link-content flex-center clickable">
          <i class="material-icons">{{link.icon}}</i><span>{{link.name}}</span>
          <i *ngIf="link.childs" class="material-icons arrow">expand_more</i>
        </div>

        <ul *ngIf="link.childs && currentOpenedNavigationBar === i">
          <li *ngFor="let child of link.childs" class="child-link clickable" (click)="child.func()"
          [ngClass]="{'dis-link': child.disabled}">
            {{child.label}}
          </li>
        </ul>
    </li>
    <li class="logout">
      <div (click)="logout()" class="link-content flex-center clickable">
        <i class="material-icons">exit_to_app</i><span>Logout</span>
      </div>

      <app-spinner [classes]="'spinner-u-small'" *ngIf="isLogingOut" [backdrop]="true" [containerClasses]="'spinner-form'">

      </app-spinner>
    </li>
  </ul>

  <i (click)="togle('navOpen')" class="material-icons side-arrow">chevron_left</i>
</nav>
