<nav class="nav-open">
  <div class="flex-col-center user-data-container">
    <ng-container *ngIf="loggedUserData">
      <img (click)="file.click()" *ngIf="loggedUserData.picturePath" [src]="loggedUserData.picturePath" image [baseClass]="'avatar clickable'" [imageClass]="'broken-image'" />
      <div (click)="file.click()" *ngIf="!loggedUserData.picturePath" class="image-avatar clickable">
        <i class="material-icons">
          account_circle
        </i>
      </div>
      <p class="main-colored">
        {{loggedUserData.username}}
      </p>

      <app-spinner [classes]="'spinner-u-small'" *ngIf="isLoadingImage" [backdrop]="true" [containerClasses]="'spinner-centered'"></app-spinner>
      <input (input)="handleFilePick($event)" [style.display]="'none'" type="file" #file/>
    </ng-container>

    <button (click)="reloadUserData()" class="label-btn-thin main-colored" *ngIf="!loggedUserData">
      TRY RELOAD
    </button>
    <app-spinner [classes]="'spinner-small'" *ngIf="isGettingUserData" [backdrop]="true" [containerClasses]="'spinner-centered'">
    </app-spinner>

    <i class="material-icons">

    </i>
  </div>

  <ul>
    <li *ngFor="let link of navigationLinks; let i = index"
    [ngClass]="{'focused-link': currentOpenedNavigationBar === i}">
        <div (click)="changeOpenedNavigationBar(i)" class="link-content flex-center clickable">
          <i class="material-icons">{{link.icon}}</i><span>{{link.name}}</span>
          <i *ngIf="link.childs" class="material-icons arrow">expand_more</i>
        </div>

        <ul *ngIf="link.childs && currentOpenedNavigationBar === i">
          <li *ngFor="let child of link.childs" class="child-link clickable" (click)="child.func()"
          [ngClass]="{'dis-link': child.disabled}">
            {{child.label}}
          </li>
        </ul>
    </li>

    <li class="settings">
      <div (click)="togleSettings()" class="link-content flex-center clickable">
        <i class="material-icons">settings</i><span>Settings</span>
      </div>
    </li>

    <li class="logout">
      <div (click)="logout()" class="link-content flex-center clickable">
        <i class="material-icons">exit_to_app</i><span>Logout</span>
      </div>

      <app-spinner [classes]="'spinner-u-small'" *ngIf="isLogingOut" [backdrop]="true" [containerClasses]="'spinner-form'">

      </app-spinner>
    </li>
  </ul>

</nav>
<p class="abs-validation-message flex-between" *ngIf="isImageOnError" (click)="closeError()">
  <span>{{isImageOnError}}</span>
  <button class="label-btn">OK</button>
</p>
