@import '../../../../colors.scss';
.avatar{
  border: 2px solid $border;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.image-avatar {
  i {
    color: $main;
    font-size: 60px;
  }
}

nav{
  color: $font;
  background: $side;
  height: 100%;
  transition: .4s;
  display: grid;
  box-sizing: border-box;
  .user-data-container {
    button {
      margin: auto 0;
    }
  }
}

.nav-open {
  width: 200px;
  grid-template-rows: 115px 1fr 50px;
  padding: 1em 0;
  .avatar img, .avatar p, & > *:not(.material-icons) {
    animation: .4s animate-link forwards;
    opacity: 0;
    @for $i from 2 through 20 {
        &:nth-child(#{$i}) {
            animation-delay: $i * (1s / 18);
        }
    }
  }
  .child-link{
    padding: 1em;
    animation: .4s animate-link forwards;
    opacity: 0;
    @for $i from 2 through 20 {
        &:nth-child(#{$i}) {
            animation-delay: $i * (1s / 18);
        }
    }
  }

  .link-content{
    padding: 1em;
    span{
        margin-left: .66em;
    }
    .arrow{
        transition: .4s;
        transform: rotate(0);
        margin-left: auto;
    }
    &:hover{
        color: $main;
    }
  }
  .focused-link{
    .link-content{
        color: $main;
        background: $font-white;
        .arrow{
            transform: rotate(180deg);
        }
    }
  }
}
li.dis-link {
  color: $error;
  cursor: initial;
  text-decoration: line-through;
}
.logout {
  position: relative;
}
