@import '../../../../colors.scss';

.table-wrapper{
  box-shadow: $shadow;
  position: relative;
  .filter-wrapper {
    & > div {
      padding: 12.5px;
    }
    div.filters{
      padding: 0 12.5px;
      p {
        padding: 12.5px 0;
        font-size: 12px;
      }
      display: flex;
      flex-flow: wrap;
      background: $table-row;
      .filter {
        animation: .4s animate-link forwards;
        margin: 12.5px 12.5px 12.5px 0;
        cursor: pointer;
        span.main-colored {
          margin-right: 5px;
          font-size: 12px;
        }
      }
    }
  }
  header {
    padding: 12.5px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    span.main-colored {
      font-size: 20px;
    }
    span:not(.main-colored) {
      font-size: 12px;
      color: $content-grey;
      margin-left: 10px;
    }
    .label-btn-thin {
      color: $font;
      margin-left: 15px;
      float: right;
      i {
        margin-right: 5px;
      }
    }
  }
  .empty-table {
    color: $content-grey;
    text-align: center;
    padding: 1em;
  }
  .table-add {
    tbody {
      tr {
        &:hover:not(.selected-row) {
          td:last-of-type{
            border-right-color: $main;
          }
        }
      }
    }
  }
  .table-remove {
    tbody {
      tr {
        &:hover:not(.selected-row) {
          td:last-of-type{
            border-right-color: $error;
          }
        }
      }
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: $font;
    th, td {
      padding: 12.5px;
      text-align: left;
    }
    td {
      font-size: 14px;
      word-break: break-word;
    }
    tbody {
      tr {
        cursor: pointer;
        td:last-of-type{
          border-right: 2px solid transparent;
        }
        &:hover:not(.selected-row) {
          background: $table-row;
          color: $main;
        }
      }
      .selected-row {
        background: $table-row;
        color: $main;
        font-weight: 500;
        td:last-of-type{
          border-right: 2px solid transparent;
        }
      }
    }
    tr:last-of-type{
      border-bottom: none;
    }
  }


  .pagination-wrapper {
    padding: 0 12.5px;
    margin-bottom: 12.5px;
    position: relative;
    .filtering-settings {
      justify-content: flex-end;
      & > span {
        margin-right: 15px;
      }
      span {
        font-size: 12px;
        color: $content-grey;
      }
      .progress {
        background: $table-row;
        height: 5px;
        border-radius: 40px;
        width: 225px;
        position: relative;
        .progress-val, .markers span {
          height: 5px;
        }
        .progress-val, .markers {
          position: absolute;
          top: 0;
          left: 0;
        }
        .progress-val {
          border-radius: 40px;
          transition: .4s;
          background: $main;
        }
        .markers {
          z-index: 1;
          width: 100%;
          span {
            float: left;
            cursor: pointer;
          }
        }
      }
    }
  }
}
