@import '../../../../colors.scss';

.table-wrapper{
  box-shadow: $shadow;
  .filter-form-wrapper{
  }
  .filtering-settings {
    justify-content: flex-end;
    & > span {
      margin-right: 15px;
    }
    span {
      font-size: 12px;
      color: $content-grey;
    }
    .progress {
      background: $table-row;
      height: 5px;
      border-radius: 40px;
      width: 350px;
      .progress-val {
        border-radius: 40px;
        width: 30%;
        transition: .4s;
        background: $main;
        height: 5px;
      }
    }
  }
  .filter-wrapper {
    & > div {
      padding: .75em;
    }
    .filters{
      background: $table-row;
      .filter {
        margin-right: 10px;
        span.main-colored {
          margin-right: 5px;
          font-size: 12px;
        }
      }
    }
  }
  header {
    padding: .75em;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    span.main-colored {
      font-size: 20px;
    }
    span:not(.main-colored) {
      font-size: 12px;
      color: $content-grey;
      margin-left: 10px;
    }
    .label-btn-thin {
      color: $font;
      margin-left: 15px;
      float: right;
      i {
        margin-right: 5px;
      }
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: $font;
    th, td {
      padding: .75em;
      text-align: left;
    }
    td {
      font-size: 14px;
      word-break: break-word;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      td:last-of-type{
        border-right: 2px solid transparent;
      }
      &:hover:not(.selected-row) {
        background: $table-row;
        color: $main;
        td:last-of-type{
          border-right-color: $main;
        }
      }
    }
    .selected-row {
      background: $table-row;
      color: $main;
      font-weight: 500;
      td:last-of-type{
        border-right: 2px solid transparent;
      }
    }
  }
  tr:last-of-type{
    border-bottom: none;
  }
}
