<div class="table-wrapper">

  <div *ngIf="enableFilters" class="filter-wrapper">
    <div *ngIf="filters" class="filter-form-wrapper">
      <p>Apply filters for searching from server</p>
      <app-form [btnTitle]="'add'" [btnType]="'circle'"
      [classes]="'filter-form'" [formSettings]="filterFormSettings" ></app-form>
    </div>

    <div *ngIf="filters" class="filters flex-center">

      <p *ngIf="filtersList.length === 0; else filtersRef">
        Any filters applied
      </p>

      <div *ngFor="let filter of filtersList"
      #filtersRef class="filter flex-column">
        <span class="main-colored">{{filter.category}}</span>
        <span>{{filter.value}}</span>
      </div>

    </div>

  </div>

  <header>
    <span class="main-colored">{{title}}</span>
    <span>{{subTitle}}</span>

    <button *ngIf="enableFilters" (click)="togle('filters')" class="label-btn-thin flex-center">
      <i class="material-icons">filter_list</i>
      {{filters ? 'SHOW' : 'HIDE'}} FILTERS
    </button>

    <button *ngIf="enableChangingPageSize" (click)="togle('settings')" class="label-btn-thin flex-center">
      <i class="material-icons">settings</i>
      {{settings ? 'SHOW' : 'HIDE'}} SETTINGS
    </button>
  </header>

  <ng-container *ngIf="items.length > 0">

    <table [class]="tableClass">
      <thead>
        <tr>
          <th *ngFor="let key of keys">
            {{key.display}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items; let i = index" (click)="rowClick.emit({item: item, index: i})">
          <td *ngFor="let key of keys">
            {{item[key.key]}}
          </td>
        </tr>
      </tbody>

    </table>

    <div class="pagination-wrapper">

      <div *ngIf="settings && enableChangingPageSize" class="filtering-settings flex-center">
        <span>3 records per page</span>
        <div class="progress">
          <div class="progress-val">
          </div>
        </div>
      </div>

      <div class="pagination">
        <button class="paginate-btn">
          1
        </button>
        <button class="paginate-btn">
          2
        </button>
        <button class="paginate-btn">
            3
        </button>
      </div>

    </div>
  </ng-container>


  <div class="empty-table" *ngIf="items.length === 0">
    {{emptyTitle}}
  </div>

  <ng-content></ng-content>

  </div>
